<!doctype html><html lang="en"><head>

  <meta charset="utf-8">
  <title>StaticPage Classic</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.sass">
  <script type="text/javascript" src="script.coffee"></script>

</head><body>

  <nav id="toolbar">
    <select id="add">
      <option disabled selected>Add component</option>
      <option value="header">Header</option>
      <option value="paragraph">Paragraph</option>
      <option value="list">List</option>
      <option value="image">Image</option>
      <option value="button">Button</option>
      <option value="iframe">Iframe</option>
    </select>

    <button type="button" id="edit">Edit</button>
    <button type="button" id="move_up">Move Up</button>
    <button type="button" id="move_down">Move Down</button>
    <button type="button" id="export">Export</button>
  </nav>

  <section id="page"></section>
</body></html>
