*
  box-sizing: border-box

  &:before, &:after
    box-sizing: inherit

body
  background-color: #f1d6ab
  display: flex
  flex-direction: column
  height: calc(100vh - 10px)
  margin: 0
  padding: 0 10px 5px

@import "styles/toolbar"
@import "styles/page"
@import "styles/modal"
